body{
    /* background-image: url("dairy.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    padding-top: 0px;
    width: 100%;
    background-color: #E9CCA4;
}

.header{
    display: flex;
    justify-content:center;
    background-color: green;
    color: white;
    border-radius: 8px;
    box-shadow: 2px 4px purple;
}
#shed-production{
    background-color: plum;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid red;
    border-radius: 8px;
}
.imgs{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
}
.months{
    /* display:flex; */
    text-align: center;
}
.gallery{
    width: 380px;
    padding-top: 10px;
    box-shadow: -2px 3px green;
    border-radius: 20px;
    margin-left: 50px;
}
.gallery1{
    width: 380px;
    padding-top: 10px;
    box-shadow: 2px 3px green;
    border-radius: 20px;
    padding-left: 10px;
}
.gallery2{
    width: 380px;
    border-radius: 20px;
    box-shadow: 2px 3px green;
    padding-left: 10px;
}